:root {
    /* Primary */
    --Softred: #fe7867;
    --Yellow: #fad400;
    --Darkdesaturatedcyan: #25564b; /*(graphic design text)*/
    --Darkblue: #19536b; /*(photography text)*/
    --Darkmoderatecyan: #458c7e;   /*(footer)*/
    
    /* Neutral */
    --Verydarkdesaturatedblue: #23303e;
    --Verydarkgrayishblue: #5a636c;
    --Darkgrayishblue: #818498;
    --Grayishblue: #a7abae;
    --White: #ffffff;
}